attrs
bluesky
bokeh
boltons
caproto
cloudpickle
cython
cytoolz
dask
databroker
dill
distributed
h5py
ipympl
ipywidgets
jupyter-emacskeys
lmfit
matplotlib
mongoquery
numba
openpyxl
ophyd
oscars
pandas
pims
pyepics
pymongo
requests
rise
scikit-image
scikit-learn
scipy
sympy
tifffile
tornado<5
tzlocal
xlrd
