bluesky
caproto
dask
databroker
distributed
ipympl
ipywidgets
matplotlib
nslsii
ophyd>=1.2.0a2
pandas
pyepics
tornado<5

# Careful: Changing these could break the cluster.
jupyterhub==0.8.*
git+https://github.com/data-8/nbgitpuller
