# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/build/
docs/source/generated/

# pytest
.pytest_cache/

# PyBuilder
target/

# Editor files
#mac
.DS_Store
*~

#vim
*.swp
*.swo

#pycharm
.idea/

#VSCode
.vscode/

#Ipython Notebook
.ipynb_checkpoints

summary.txt
binder/jupyterlab-workspace.json

.ipython/profile_default/
my_exported_files/
docs/build

# Ignore content copied from repo route into docs/source by docs/Makefile.
docs/source/*.ipynb
docs/source/scripts
docs/source/solutions
docs/source/solutions
docs/source/static
docs/source/supervisor
docs/source/X-ray Absorption Fine Structure
docs/source/Powder Diffraction

# Jupyter files
.jupyter/
.local/
.jupyter-server-log.txt

.config/
.npm/
.viminfo*
.bash_history
.keras/
