--prefer-binary
Markdown <2.7
area-detector-handlers
bluesky
bluesky >=1.7.0b1
bluesky-adaptive >=0.2.0
bluesky-darkframes
bluesky-widgets[jupyter]
caproto[standard]
dask
databroker
distributed
h5py
ipykernel
ipympl >=0.6.3
ipywidgets <7.7
jupyter-book
jupyterlab >=3
kiwisolver <1.2
lmfit
matplotlib >=3.4
nbgitpuller
numpy <1.20
ophyd
ophyd
pandas
pyepics
scikit-image
sklearn
suitcase-csv
suitcase-jsonl
suitcase-mongo
suitcase-msgpack
suitcase-tiff
supervisor
tensorboard==2.2.1
tensorflow==2.2.0
tensorforce==0.5.5
toolz==0.10.0
