--prefer-binary
Markdown <2.7
area-detector-handlers
bluesky
bluesky >=1.7.0b1
bluesky-adaptive >=0.2.0
bluesky-darkframes
bluesky-widgets[jupyter]
caproto[standard]
dask
databroker
distributed
h5py
ipykernel
ipympl >=0.6.3
ipywidgets <7.7
jupyter-book
jupyter-cache < 0.5
jupyterlab >=3
kiwisolver <1.2
lmfit
matplotlib >=3.4
nbgitpuller
# jupyter/nbconvert#1970 for the 7.3 series exclusions
nbconvert[execute]!=6.0.0,!=6.0.1,!=7.3.0,!=7.3.1
nbformat!=5.0.0,!=5.0.1
numpy
ophyd
pandas
pyepics
scikit-image
suitcase-csv
suitcase-jsonl
suitcase-mongo
suitcase-msgpack
suitcase-tiff
supervisor
toolz==0.10.0
