bluesky
git+https://github.com/caproto/caproto@ophyd-tutorial  # TEMP BRANCH
dask
databroker
distributed
ipympl
ipywidgets
jupyterlab <2
lmfit
matplotlib
nbgitpuller
ophyd
pandas
pyepics
suitcase-csv
suitcase-jsonl
suitcase-msgpack
suitcase-tiff
